@import "./default.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    --red-primary: #BB010B;
    --red-secondary: #CD1624;
    --green-primary: #006F57;
    --green-secondary: #23856D;
    --white-primary: #FAF8F8;
    --black-primary: rgba(255, 255, 255, 0.87);

    --green-ternary: #213547;


    --el-color-white: #ffffff;
    --el-color-black: #000000;
    --el-color-primary: #409eff;
    --el-color-success: #67c23a;
    --el-color-warning: #e6a23c;
    --el-color-danger: #f56c6c;
    --el-color-error: #f56c6c;
    --el-color-info: #909399;
}


